[submodule "Libraries/ActionBarSherlock"]
	path = Libraries/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "Libraries/SlidingMenu"]
	path = Libraries/SlidingMenu
	url = https://github.com/jfeinstein10/SlidingMenu.git
[submodule "Libraries/ActionBar-PullToRefresh"]
	path = Libraries/ActionBar-PullToRefresh
	url = https://github.com/chrisbanes/ActionBar-PullToRefresh.git
