[submodule "Libraries/ActionBarSherlock"]
	path = Libraries/ActionBarSherlock
	url = https://github.com/JakeWharton/ActionBarSherlock.git
[submodule "Libraries/ActionBar-PullToRefresh"]
	path = Libraries/ActionBar-PullToRefresh
	url = https://github.com/chrisbanes/ActionBar-PullToRefresh.git
[submodule "Libraries/Android-ViewPagerIndicator"]
	path = Libraries/Android-ViewPagerIndicator
	url = https://github.com/JakeWharton/Android-ViewPagerIndicator.git
